<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
  Header set Cache-Control "no-store"
</IfModule>

<Files "config.php">
  Require all denied
</Files>

<Files "_layout_top.php">
  Require all denied
</Files>

<Files "db.php">
  Require all denied
</Files>

<Files "auth.php">
  Require all denied
</Files>
